body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
}

#textarea {
    width: 100%;
    height: calc(100% - 200px);
    background-color: rgba(165, 42, 42, 0.2);
    padding: 16px;
}