body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
}

#title-logo {
    height: 48px;
    padding: 16px;
}
#textarea {
    width: 100%;
    height: calc(100% - 200px);
    border: none;
    /* background-color: rgba(165, 42, 42, 0.2); */
    padding: 16px;
    font-size: 18px;
}
#textarea:focus {
    border: none;
    outline: none;
}
#flush-button {
    height: 64px;
    width: 256px;
    font-size: 18px;
    background-color: #0000e7;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #ffffff;
}