body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #fffef7;
    background-color: #17172D;

}



#title-container {
    text-align: left;
    /* width: calc(100% - 128px); */
}

#title-text {
    font-size: 64px;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    color: #6e6c78;
    padding: 32px;
}

#title-logo {
    /* height: 64px; */
    width: 100%;
    max-width: 320px;
    padding: 32px;
}

#textarea {
    width: calc(100% - 64px);
    height: calc(100% - 290px);
    border: none;
    background-color: transparent;
    padding: 16px;
    font-size: 24px;
    resize: none;
    line-height: 1;
    font-family: "Roboto Mono", monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 16px;
    color: #ffffff;

}
#textarea::placeholder {
    color: #832d2f90;
    color: #8f91ec;
}

#textarea:focus {
    border: none;
    outline: none;
}

.flush-button {
    /* height: 80px; */
    width: 70%;
    max-width: 320px;
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
    background-color: #F3594E;
    background-color: #8d59ba;
    /* background: #F3594E url('../images/flush_wave_bg.png'); */
    background-size: contain;
    background-position-x: 0px;
    /* border: #000000 solid 1px; */
    border: none;
    outline: none;
    border-radius: 16px;
    color: #ffffff;
    margin: 16px;
    box-shadow: 0px 0px 0px #C91C25, inset 0px 0px 70px #0013721f;
    line-height: 0px;
    padding: 40px;
    /* display: flex;
    justify-content: center;
    margin: auto; */
    margin-top: 16px;
}

.flush-button-animate {
    box-shadow: 0px 0px 0px #C91C25, inset 0px 0px 70px #00137200;
    translate: 0px 3px;
    background: #8d59ba url('../images/flush_wave_bg.png');
    color: transparent;
    animation: waves 400ms infinite linear;
}

@keyframes waves {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 45px;
    }


}

#flush-button:active {
    box-shadow: 0px 0px 0px #C91C25, inset 0px 0px 70px #00137200;
    translate: 0px 3px;
}

.button-icon {
    height: 32px;
    translate: 0% -50%;
    margin-right: 16px;

}



.flash-red {
    animation: flash-animation 300ms 1 linear;
}

@keyframes flash-animation {
    0% {
        background-color: #c08cc934;
    }

    25% {
        background-color: transparent;
    }

    75% {
        background-color: #c08cc934;
    }

    100% {
        background-color: transparent;
    }

}

.shake {
    animation: shake-animation 300ms 1 linear;
}

@keyframes shake-animation {
    0% {
        transform: translateX(-20px);
        box-shadow: 9px 0px 0px #c3bf70;
        padding-left: 16px;
        padding-right: 0px;
    }

    25% {
        transform: translateX(10px);
        box-shadow: -6px 0px 0px #94fff4;
        padding-left: 0px;
        padding-right: 16px;
    }

    50% {
        transform: translateX(-10px);
        box-shadow: 6px 0px 0px #94fff4;
        padding-left: 16px;
        padding-right: 0px;
    }

    75% {
        transform: translateX(5px);
        box-shadow: -3px 0px 0px #94fff4;
        padding-left: 0px;
        padding-right: 16px;
    }

    100% {
        transform: translateX(-5px);
        box-shadow: 3px 0px 0px #94fff4;
        padding-left: 16px;
        padding-right: 0px;
    }
}

.vibrate {
    animation: vibrate-animation 50ms infinite linear;
}

@keyframes vibrate-animation {
    0% {
        transform: skew(3deg, 1deg);

    }

    100% {
        transform: skew(-3deg, -1deg);
    }

}